li:first-child {
 color: red;
}

li:nth-child(2){
color: blue;
}

a:hover{
    color: rgb(194, 97, 32);
}

a:link{
    color: green;
}

a:visited{
    color: red;
}

a:active{
    color: black;
}

p::first-letter{
    color: blue;
    font-size: 200%;
}

p:first line{
    font-style: italic;
}

a::before{
    content: "<";
}

a::after{
    content: ">";
}

p{
    text-shadow: 10px 8px 5px;
}

#p{
    opacity: 0.3;
    background-color: rgb(255, 100,255,0.3);
}